.pgv-graph-view-thing {
  --card-background: color-mix(
    in srgb,
    var(--text-color-secondary) 4%,
    var(--background)
  );
  position: relative;
  background: var(--card-background);
  border: var(--jenkins-border);
  border-radius: var(--form-input-border-radius);
  overflow: hidden;
  height: 100%;

  &--left {
    --additional-height: 0px;
    position: sticky;
    margin-bottom: 0;
    top: calc(var(--header-height) + var(--section-padding));
    height: calc(
      (100vh + min(var(--additional-height), var(--section-padding))) -
        (var(--header-height) + 60px + var(--section-padding))
    );
  }

  &__heading {
    bottom: unset !important;
    right: unset !important;
    font-weight: var(--font-bold-weight);
    font-size: var(--font-size-sm);
  }
}

.test-floaty-material {
  position: absolute;
  inset: 0.4rem 0.3rem;
  display: flex;
  z-index: 1;
  backdrop-filter: blur(10px);
  background: red;
  border-radius: 0.45rem;
  padding: 0.2rem 0.4375rem;
  align-items: center;
  color: var(--text-color-secondary);
  background: color-mix(in srgb, var(--card-background) 80%, transparent);
  border: var(--jenkins-border-width) solid transparent;
  background-clip: padding-box;
}
