.pgv-graph-view-thing {
  --card-background: color-mix(
    in srgb,
    var(--text-color-secondary) 4%,
    var(--background)
  );
  position: relative;
  background: var(--card-background);
  border: var(--jenkins-border);
  border-radius: var(--form-input-border-radius);
  overflow: hidden;
  height: 100%;

  &--left {
    --additional-height: 0px;
    position: sticky;
    top: calc(var(--header-height) + var(--section-padding));
    height: calc(
      (100vh + min(var(--additional-height), var(--section-padding))) -
        (var(--header-height) + 60px + var(--section-padding))
    );
  }

  &--dialog {
    position: fixed;
    inset: 0 !important;
    z-index: 30000;
    border-radius: 0;
    border: none;
    height: unset;

    .test-floaty-material {
      margin: 1rem;
      color: var(--text-color);
    }

    .jenkins-button svg {
      width: 1.125rem;
      height: 1.125rem;
    }
  }

  &__heading {
    padding: 0 0.55rem;
    bottom: unset !important;
    right: unset !important;
    line-height: 2rem;
    font-weight: var(--font-bold-weight);
    font-size: var(--font-size-sm);
  }
}

#page-body:has(.pgv-graph-view-thing--dialog) {
  z-index: 1001;
}

.test-floaty-material {
  position: absolute;
  inset: 0.1rem;
  display: flex;
  z-index: 1;
  backdrop-filter: blur(10px);
  background: red;
  border-radius: 0.45rem;
  align-items: center;
  color: var(--text-color-secondary);
  background: color-mix(in srgb, var(--card-background) 80%, transparent);
  border: var(--jenkins-border-width) solid transparent;
  background-clip: padding-box;
}
