.thinggg {
  display: flex;
  align-items: center;
  font-size: var(--font-size-sm);
  gap: 0.75rem;
  padding-left: 0.15rem;

  & > div {
    display: contents;
  }

  & > div > svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.actionsss {
  display: flex;
  align-items: center;
  gap: 0.65rem;

  & > button {
    min-width: 38px;
    padding-inline: 0 !important;
  }
}

.pgv-show-more-logs {
  background: var(--card-background);
  box-shadow: 0 0 5px var(--card-background);
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 10;
}
