.thinggg {
  display: flex;
  align-items: center;
  font-size: var(--font-size-sm);
  gap: 0.75rem;
  padding-left: 0.15rem;

  & > div {
    display: contents;
  }

  & > div > svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.step-detail-headerparent {
  position: sticky;
  top: calc(var(--header-height) + 0.375rem);
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: -0.375rem;
    background: var(--card-background);
    pointer-events: none;
    border-radius: 0.6rem;
  }
}

.step-detail-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: stretch;
  padding: 0 0.5rem !important;
  border-radius: 0.375rem;
  cursor: pointer;
  min-height: 38px;
  width: 100%;

  .svgtest {
    transition: var(--standard-transition);
    scale: 0.9;
  }
}

.actionsss {
  display: flex;
  align-items: center;
  gap: 0.65rem;

  & > button {
    min-width: 38px;
    padding-inline: 0 !important;
  }
}

.pgv-show-more-logs {
  background: var(--card-background);
  box-shadow: 0 0 5px var(--card-background);
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 10;
}
