#tasks {
  margin: 0;
  padding-right: 1.4rem;
}

.pgv-tree-item {
  display: block !important;
  font-family: var(--font-family-sans) !important;
  padding-block: 0.375rem !important;
  padding-right: 1rem;
  cursor: pointer !important;

  & > div {
    display: flex;
    align-items: center;
    justify-content: stretch;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
    gap: 0.65rem;
    mask-image: linear-gradient(
      90deg,
      white calc(100% - 2.5rem),
      transparent calc(100% - 1rem)
    );
  }

  .task-icon-link > div {
    display: contents;
  }

  svg {
    flex-shrink: 0;
  }

  &__description {
    color: var(--text-color-secondary);
  }
}

.pgv-toggle-icon {
  position: absolute;
  top: 0.55rem;
  right: 0.55rem;
  width: 1rem;
  height: 1rem;
  margin-left: auto;
  transition: var(--standard-transition);
  appearance: none;
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
  color: var(--text-color-secondary);

  &--active {
    rotate: 90deg;
  }

  svg {
    width: 1rem;
    height: 1rem;

    * {
      stroke-width: 42px !important;
    }
  }

  &:hover {
    color: var(--text-color);
  }
}

.pgv-tree-node-header {
  position: relative;
}

.pgv-tree-children {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  margin-top: 0.125rem;
  // TODO - var fallback can removed after baseline is moved >= 2.496
  padding-left: calc(1.35rem + 1.375rem + var(--jenkins-border-width, 2px));
  padding-right: 0.7rem;

  &::before {
    content: "";
    position: absolute;
    top: 0.375rem;
    // TODO - var fallback can removed after baseline is moved >= 2.496
    left: calc(
      0.7rem + (1.375rem / 2) - (var(--jenkins-border-width, 2px) / 2)
    );
    bottom: 0.375rem;
    // TODO - var fallback can removed after baseline is moved >= 2.496
    background-color: var(
      --jenkins-border-color,
      color-mix(in srgb, var(--text-color-secondary) 25%, transparent)
    );
    // TODO - var fallback can removed after baseline is moved >= 2.496
    width: var(--jenkins-border-width, 2px);
    border-radius: 10px;
  }
}
