@import "react-tippy/dist/tippy.css";

h1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.console-pane pre {
  padding-left: 16px;
}

.console-text div {
  text-indent: 0;
  display: inline-block;
}

pre.console-output-line {
  @extend pre;
  text-align: left;
  padding-left: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 10px;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
}

g.build-status-icon__outer {
  transform: translate(0, 0) !important;
}

.ansi-fg-0 {
  color: var(--black, #333);
}

.ansi-fg-1 {
  color: var(--danger, #cc0003);
}

.ansi-fg-2 {
  color: var(--success, #138347);
}

.ansi-fg-3 {
  color: var(--warning, #ea6b19);
}

.ansi-fg-4 {
  color: var(--primary, #0b6aa2);
}

.ansi-fg-5 {
  color: var(--unknown-color, #bd0fe1);
}

.ansi-fg-6 {
  color: var(--paused-color, #24b0d5);
}

.ansi-fg-7 {
  color: var(--white, #fff);
}

// Standard background colors
.ansi-bg-0 {
  background: var(--black, #333);
}

.ansi-bg-1 {
  background: var(--danger, #cc0003);
}

.ansi-bg-2 {
  background: var(--success, #138347);
}

.ansi-bg-3 {
  background: var(--warning, #ea6b19);
}

.ansi-bg-4 {
  background: var(--primary, #0b6aa2);
}

.ansi-bg-5 {
  background: var(--unknown-color, #bd0fe1);
}

.ansi-bg-6 {
  background: var(--paused-color, #24b0d5);
}

.ansi-bg-7 {
  background: var(--white, #fff);
}

.todo-sidebar {
  position: sticky;
  top: calc(var(--header-height) + var(--section-padding));
}

// Console styling
a.console-line-number {
  text-align: right;
  width: 28px;
  margin-right: 14px;
  color: var(--text-color-secondary);
  white-space: nowrap;
  display: inline-block;
  flex-shrink: 0;
  user-select: none;
}

div.console-output-line-anchor {
  position: relative;
  // This is the width of the '.jenkins-breadcrumbs' div + a little extra.
  top: -50px;
  visibility: hidden;
}

div.console-output-line {
  position: relative;
  display: flex;
  padding-block: 2px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: color-mix(
      in srgb,
      var(--text-color-secondary) 5%,
      transparent
    );
    border: var(--jenkins-border-width) solid
      color-mix(in srgb, var(--text-color-secondary) 2.5%, transparent);
    border-radius: 0.375rem;
    opacity: 0;
    transition: opacity var(--standard-transition);
    pointer-events: none;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

span.timestamp {
  margin-right: 15px;
}

.step-content {
  padding: 0px !important;
  padding-bottom: 0px !important;
}

.step-detail-group {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: -3px;
    background: color-mix(
      in srgb,
      var(--text-color-secondary) 2.5%,
      transparent
    );
    border: var(--jenkins-border);
    border-radius: 10px;
    opacity: 0;
    transition: var(--standard-transition);
    scale: 97.5%;
  }
}

div.detail-element {
  display: flex;
  width: 100%;
  font-size: var(--font-size-monospace);
  vertical-align: middle;
  margin-left: 10px;
  line-height: 1.66 !important;
  padding: 3px;
}

.step-header {
  @extend div, .step-detail-group;
  cursor: pointer;
}

//.step-header-running {
//  background: var(--step-bg-running) !important;
//}
//
//.step-header-success {
//  background: var(--step-bg-success) !important;
//}
//
//.step-header-unstable {
//  background: var(--step-bg-unstable) !important;
//}
//
//.step-header-failure {
//  background: var(--step-bg-failure) !important;
//}
//
//.step-header-aborted {
//  background: var(--step-bg-aborted) !important;
//}

//.step-header-queued,
//.step-header-paused,
//.step-header-not-built,
//.step-header-skipped {
//  background: var(--step-bg-paused) !important;
//}

//.capitalize {
//  text-transform: lowercase;
//}
//
//.capitalize:first-letter {
//  text-transform: capitalize;
//}

div.log-card--header {
  font-weight: 800;
  font-family: var(--font-family-sans);
  color: var(--step-text-color);
}

//div.log-card--text {
//font-weight: 400;
//font-family: var(--font-family-sans-mono);
//line-height: 1.66 !important;
//color: var(--step-text-color);
//}

//div.log-card--text-duration {
//  overflow-x: hidden;
//  text-indent: 5px;
//}

div.detail-element:last-child {
  border: none;
}

//svg.detail-icon {
//  margin-right: 10px;
//  font-size: 1.5rem !important;
//  transform-origin: 50% 50%;
//}

//a {
//  cursor: pointer !important;
//}

.app-details__prev_next {
  color: inherit !important;
  text-decoration: none !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

//.split-pane--stage-view {
//  margin: 0;
//  padding: 0;
//  height: 100vh;
//  overflow: scroll;
//}
