@import "react-tippy/dist/tippy.css";

:root {
  --step-bg-running: color-mix(in srgb, var(--accent-color) 50%, white);
  --step-bg-success: color-mix(in srgb, var(--success-color) 50%, white);
  --step-bg-unstable: color-mix(in srgb, var(--warning-color) 50%, white);
  --step-bg-failure: color-mix(in srgb, var(--error-color) 50%, white);
  --step-bg-aborted: color-mix(in srgb, var(--purple) 50%, white);
  --step-bg-paused: color-mix(in srgb, var(--blue) 50%, white);
  --step-text-color: var(--text-color);
}

.app-page-body--one-column {
  max-width: 100vw;
  margin-inline: var(--section-padding);
  margin-bottom: 0px;
}

[data-theme="dark"] {
  --step-bg-running: color-mix(in srgb, var(--accent-color) 50%, black);
  --step-bg-success: color-mix(in srgb, var(--success-color) 50%, black);
  --step-bg-unstable: color-mix(in srgb, var(--warning-color) 50%, black);
  --step-bg-failure: color-mix(in srgb, var(--error-color) 50%, black);
  --step-bg-aborted: color-mix(in srgb, var(--purple) 50%, black);
  --step-bg-paused: color-mix(in srgb, var(--blue) 50%, black);
}

@media (prefers-color-scheme: dark) {
  [data-theme="dark-system"],
  [data-theme="dark-system"] {
    --step-bg-running: color-mix(in srgb, var(--accent-color) 50%, black);
    --step-bg-success: color-mix(in srgb, var(--success-color) 50%, black);
    --step-bg-unstable: color-mix(in srgb, var(--warning-color) 50%, black);
    --step-bg-failure: color-mix(in srgb, var(--error-color) 50%, black);
    --step-bg-aborted: color-mix(in srgb, var(--purple) 50%, black);
    --step-bg-paused: color-mix(in srgb, var(--blue) 50%, black);
  }
}

.SplitPane {
  position: relative;
}

.console-output {
  text-align: left;
  padding-left: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 10px;
}

.console-output p {
  margin: 0;
}

.console-pane pre {
  padding-left: 16px;
}

.console-text {
  padding-left: 15px;
  padding-right: 5px;
}

.console-text div {
  text-indent: 0;
  display: inline-block;
}

div.show-more-console {
  background-color: var(--alert-warning-bg-color);
}

pre.console-output-line {
  @extend pre, .console-output;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
}

g.build-status-icon__outer {
  transform: translate(0, 0) !important;
}

.ansi-fg-0 {
  color: var(--black, #333);
}

.ansi-fg-1 {
  color: var(--danger, #cc0003);
}

.ansi-fg-2 {
  color: var(--success, #138347);
}

.ansi-fg-3 {
  color: var(--warning, #ea6b19);
}

.ansi-fg-4 {
  color: var(--primary, #0b6aa2);
}

.ansi-fg-5 {
  color: var(--unknown-color, #bd0fe1);
}

.ansi-fg-6 {
  color: var(--paused-color, #24b0d5);
}

.ansi-fg-7 {
  color: var(--white, #fff);
}

// Standard background colors
.ansi-bg-0 {
  background: var(--black, #333);
}

.ansi-bg-1 {
  background: var(--danger, #cc0003);
}

.ansi-bg-2 {
  background: var(--success, #138347);
}

.ansi-bg-3 {
  background: var(--warning, #ea6b19);
}

.ansi-bg-4 {
  background: var(--primary, #0b6aa2);
}

.ansi-bg-5 {
  background: var(--unknown-color, #bd0fe1);
}

.ansi-bg-6 {
  background: var(--paused-color, #24b0d5);
}

.ansi-bg-7 {
  background: var(--white, #fff);
}

// TreeView styling
.MuiTreeItem-label {
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 10px;
  margin: 0 0 5px 0 !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  box-shadow: 0 0 1px rgb(0 0 0 / 6%);
  // Move down slightly to avoid curring off the top background.
  top: 5px;
}

// Hover TreeItem style.
.MuiTreeItem-label:hover {
  background: var(--very-light-grey);
}

:root {
  --active-card-background: var(--light-yellow);
}

[data-theme="dark"] {
  --active-card-background: var(--dark-yellow);
}

@media (prefers-color-scheme: dark) {
  [data-theme="dark-system"],
  [data-theme="dark-system"] {
    --active-card-background: var(--dark-yellow);
  }
}

.MuiTreeItem-label.pgv-graph-node--synthetic {
  font-style: italic;
}

.Mui-selected {
  // Remove highlighting
  background: transparent !important;
}

.Mui-focused {
  background: transparent !important;
  text-decoration: bold;
}

.Mui-focused {
  // Remove highlighting
  background: transparent !important;
  text-decoration: bold;
}

.MuiTreeItem-content:hover {
  background: transparent !important;
}

#main-panel {
  padding: unset;
}

.svg-icon {
  // Force rotating icons to rotate about their center.
  transform-origin: center;
}

.svg-icon--expand {
  color: var(--step-text-color);
}

.svg-icon--link {
  color: var(--step-text-color);
}

.svg-icon--resize {
  color: var(--step-text-color);
}

.svg-icon--step-card-status {
  color: var(--step-text-color) !important;
}

// Console styling
a.console-line-number {
  text-align: right;
  width: 30px;
  padding-left: 10px;
  color: var(--text-color-secondary);
  white-space: nowrap;
  display: inline-block;
  flex-shrink: 0;
  user-select: none;
}

div.console-output-line-anchor {
  position: relative;
  // This is the width of the '.jenkins-breadcrumbs' div + a little extra.
  top: -50px;
  visibility: hidden;
}

div.console-output-line {
  display: flex;
}

span.timestamp {
  margin-right: 15px;
}

div.stage-detail-group {
  vertical-align: auto;
  border-radius: 10px;
  // Move down slightly to avoid curring off the top background.
  position: relative;
  white-space: nowrap;
}

.step-content {
  padding: 0px !important;
  padding-bottom: 0px !important;
}

.step-detail-group {
}

.step-detail-header {
  display: grid;
  grid-template-columns: 1fr auto;
  //display: flex;
  align-items: center;
  justify-content: stretch;
  padding: 0 0.5rem !important;
  border-radius: 8px;
  cursor: pointer;
  min-height: 38px;
  width: 100%;

  .jenkins-button {
    width: 30px;
    height: 30px;
    min-height: 0;
    min-width: 0;
    padding: 0;
  }

  .svgtest {
    transition: var(--standard-transition);
  }
}

div.step-detail-group-expanded {
  @extend div, .stage-detail-group;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

div.detail-element {
  display: flex;
  width: 100%;
  font-size: var(--font-size-monospace);
  vertical-align: middle;
  margin-left: 10px;
  line-height: 1.66 !important;
  padding: 3px;
}

.step-header {
  @extend div, .step-detail-group;
  cursor: pointer;
}

.step-header-running {
  background: var(--step-bg-running) !important;
}

.step-header-success {
  background: var(--step-bg-success) !important;
}

.step-header-unstable {
  background: var(--step-bg-unstable) !important;
}

.step-header-failure {
  background: var(--step-bg-failure) !important;
}

.step-header-aborted {
  background: var(--step-bg-aborted) !important;
}

.step-header-queued,
.step-header-paused,
.step-header-not-built,
.step-header-skipped {
  background: var(--step-bg-paused) !important;
}

.capitalize {
  text-transform: lowercase;
}

.capitalize:first-letter {
  text-transform: capitalize;
}

div.log-card--header {
  font-weight: 800;
  font-family: var(--font-family-sans);
  color: var(--step-text-color);
}

div.log-card--text {
  //font-weight: 400;
  font-family: var(--font-family-sans-mono);
  line-height: 1.66 !important;
  color: var(--step-text-color);
}

div.log-card--text-duration {
  overflow-x: hidden;
  text-indent: 5px;
}

div.detail-element:last-child {
  border: none;
}

svg.detail-icon {
  margin-right: 10px;
  font-size: 1.5rem !important;
  transform-origin: 50% 50%;
}

a {
  cursor: pointer !important;
}

.app-details__prev_next {
  color: inherit !important;
  text-decoration: none !important;
}

.split-pane--stage-view {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: scroll;
}
