.pgv-scroll-to-top-bottom {
  position: fixed;
  right: calc(var(--section-padding) * 2);
  bottom: var(--section-padding);
  display: flex;
  gap: 0.375rem;
  z-index: 999;
  padding: 0.375rem;
  border-radius: 100px;
  box-shadow: var(--dropdown-box-shadow);
  background: color-mix(in sRGB, var(--card-background) 85%, transparent);
  backdrop-filter: var(--dropdown-backdrop-filter);
  opacity: 0;
  translate: 0 100px;
  transition: var(--standard-transition);
  pointer-events: none;

  &--visible {
    opacity: 1;
    translate: 0 0;
    pointer-events: auto;
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  .jenkins-button {
    padding: 0;
    width: 2.375rem;
    border-radius: 100px;

    svg {
      transition: translate 0.1s ease-in-out;
    }

    &:first-of-type {
      &:hover {
        svg {
          translate: 0 -1px;
        }
      }
    }

    &:last-of-type {
      &:hover {
        svg {
          translate: 0 1px;
        }
      }
    }
  }
}
