.pgv-split-view__container {
  display: grid;
  gap: var(--section-padding);
  animation: fade-in 0.1s ease-in-out both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

.pgv-split-view__side-panel {
  position: relative;
  min-height: calc(100vh - 250px);
}

.pgv-split-view__divider {
  position: absolute;
  right: calc(var(--section-padding) * -1);
  top: 0;
  bottom: 0;
  width: var(--section-padding);
  cursor: col-resize;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    // TODO - var fallback can removed after baseline is moved >= 2.496
    right: calc(50% - (var(--jenkins-border-width, 2px) / 2));
    top: 0;
    bottom: 0;
    // TODO - var fallback can removed after baseline is moved >= 2.496
    width: var(--jenkins-border-width, 2px);
    border-radius: 5px;
    transition: var(--standard-transition);
    background-color: var(--text-color-secondary);
    opacity: 0;
  }

  &:hover {
    &::after {
      opacity: 0.4;
      scale: 150% 100%;
    }
  }

  &:active {
    &::after {
      opacity: 0.8;
      scale: 200% 100%;
    }
  }
}
