.pgv-stage-steps {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  // TODO - var fallback can removed after baseline is moved >= 2.496
  border: var(
    --jenkins-border,
    2px solid color-mix(in srgb, var(--text-color-secondary) 10%, transparent)
  );
  background: var(--card-background);
  border-radius: var(--form-input-border-radius);
  padding: 0.375rem;
}
