.pgv-stage-steps {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  background: var(--card-background);
  border: var(--card-border-width) solid var(--card-border-color);
  border-radius: var(--form-input-border-radius);
  padding: 0.375rem;
}
