@import "variables";
@import "PipelineGraphWidget";

.PWGx-PipelineGraph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;

  * {
    box-sizing: border-box;
  }

  .PWGx-PipelineGraph {
    --graph-connector-grey: #{$graph-connector-grey};

    margin-left: auto;
    margin-right: auto;
  }
}
