// Theme colours

$selection-highlight: #4a90e2;
$status-success: #8cc04f;
$status-unstable: #f6b44b;
$status-failure: #d54c53;
$status-paused: #24b0d5;
$status-unknown: #d54cc4;

$graph-connector-grey: #949393;
$progress-bg: #a7c7f2;
$progress-bar-color: #1d7dcf;
