:root {
  --card-gap: 1rem;
}

.app-page-body--one-column {
  margin: unset;
  max-width: unset;
}

@import "cards";

// TODO - Needs to be renamed
.idkidkidk {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.app-details__item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;

  span {
    display: contents;
  }

  svg {
    color: currentColor !important;
    width: 1.125rem;
    height: 1.125rem;
  }

  &--link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.jenkins-button svg {
  width: 20px !important;
  height: 20px !important;
  color: currentColor !important;
}

.app-details__prev_next {
  color: inherit !important;
  text-decoration: none !important;
}

.pgw-graph-container {
  width: 100%;
  overflow: auto;
}
