:root {
  --card-background: hsl(212, 30%, 96%);
  --card-gap: 1rem;
}

[data-theme="dark"] {
  --card-background: hsl(230deg 14% 23%);
}

@media (prefers-color-scheme: dark) {
  [data-theme="dark-system"],
  [data-theme="dark-system"] {
    --card-background: hsl(230deg 14% 23%);
  }
}

@import "cards";

.app-details__item svg {
  color: currentColor !important;
  width: 16px;
  height: 16px;
}

.app-details__item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 15px;

  span {
    display: contents;
  }

  svg {
    color: currentColor !important;
    width: 16px;
    height: 16px;
  }

  &--link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.jenkins-button svg {
  width: 20px !important;
  height: 20px !important;
  color: currentColor !important;
}

.app-details__prev_next {
  a, a:hover, a:focus, a:active {
    color: inherit !important;
    text-decoration: none !important;
  }
}