@use "cards";

:root {
  --card-gap: 1rem;
}

.app-page-body--one-column {
  margin: unset;
  max-width: unset;
}

.pgv-details-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pgv-details__item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;

  span {
    display: contents;
  }

  svg {
    color: currentColor !important;
    width: 1.125rem;
    height: 1.125rem;
  }

  &--link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.pgw-graph-container {
  width: 100%;
  overflow: auto;
}

.pgw-zoom-controls {
  position: absolute;
  right: 0.75rem;
  bottom: 0.75rem;
  display: flex;
  z-index: 1;
  backdrop-filter: blur(20px);
  border-radius: var(--form-input-border-radius);
  padding: 0.125rem;

  .jenkins-button {
    padding: 0;
    width: 1.75rem;
    min-height: 1.75rem;

    svg {
      width: 1rem;
      height: 1rem;
      color: var(--text-color-secondary);
    }
  }
}
