h1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.app-details__prev_next {
  padding: 0.5rem;
  min-width: 2.375rem;
  border-radius: 100px;
  margin-inline: -0.75rem;
  color: var(--text-color-secondary) !important;

  &::before,
  &::after {
    inset: 0.375rem;
  }

  svg {
    width: 1.175rem !important;
    height: 1.175rem !important;
  }
}

.pgv-details {
  margin-left: 0.25rem;
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
}

.pgv-description {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1ch;
  align-items: start;
  margin: -0.5rem 0 1rem 0;

  & > svg {
    width: 1.125rem;
    height: 1.125rem;
  }

  & > div {
    text-box: trim-both;
    line-height: 1.66;
    margin-top: 0.0625rem;
  }
}

.pgv-details + .pgv-description {
  margin: 0 0 1rem 0.25rem;
}

.pgv-dropdown-item {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 0.25rem;

  .pgv-dropdown-item__description {
    color: var(--text-color-secondary);
    grid-area: 2 / 2;
  }
}
