h1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.app-details__prev_next {
  padding: 0.5rem;
  min-width: 2.375rem;
  border-radius: 100px;
  margin-inline: -0.75rem;
  color: var(--text-color-secondary) !important;

  &::before,
  &::after {
    inset: 0.375rem;
  }

  svg {
    width: 1.175rem !important;
    height: 1.175rem !important;
  }
}

.pgv-details {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: 0.65rem;
  margin-bottom: 1.25rem;
  margin-top: -0.25rem;

  & > div {
    display: flex;
    align-items: center;
    gap: 1ch;
    font-size: 14px;
    color: var(--text-color-secondary);
    font-weight: 450;
    text-box: trim-both;

    a {
      color: inherit;
    }

    svg, img {
      width: 1.125rem;
      height: 1.125rem;
    }
  }
}

.pgv-dropdown-item {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 0.25rem;

  .pgv-dropdown-item__description {
    color: var(--text-color-secondary);
    grid-area: 2 / 2;
  }
}
