@import "variables";
@import "../../../pipeline-graph-view/pipeline-graph/styles/PipelineGraphWidget";
@import "MultiPipelineGraph";

.PWGx-PipelineGraph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  margin-bottom: 0px;

  * {
    box-sizing: border-box;
  }

  .PWGx-PipelineGraph {
    margin-right: auto;
  }
}