.pgv-node__counter-tooltip {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin: -0.15rem -0.5rem;

  li {
    display: contents;
  }

  a {
    justify-content: start;
    gap: 0.5rem;
    color: var(--text-color);
    text-decoration: none;
    min-height: 0;
    padding: 0.25rem 1rem 0.25rem 0.35rem;
    border-radius: 0.45rem;
    font-size: var(--font-size-xs);

    svg {
      width: 1.375rem;
      height: 1.375rem;
    }
  }
}

.pgv-node-tooltip {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1px;

  div:last-of-type {
    color: var(--text-color-secondary);
    text-wrap: nowrap;
  }
}
